<table>
      <tr>
         <td>Action</td>
         <td>Id</td>
         <td>Name</td>
         <td>Age</td>
      <tr>

      {{#data}}
   	   <tr>
          <td>
             <a href='update/{{id}}'>Editar</a>
             <a href='deletar/{{id}}' class="deletar" >Deletar</a>
          </td>
    	    <td>{{id}}</td>
     	    <td>{{name}}</td>
      	  <td>{{age}}</td>
     	 <tr>
      {{/data}}

</table>


